<tr>
  <td><%= cart_item_form.object.cartable.cartable_title %>
  <td><%= cart_item_form.object.cartable.cartable_price %></td>
  <td><%= cart_item_form.text_field :quantity, size: 1 %></td>
  <td><%= cart_item_form.object.total_price %></td>
</tr>